.form-error {
    position: absolute;
    bottom: -0.50rem;

    width: 0px;
    opacity: 0;
    overflow: hidden;
    max-lines: 1;
    word-wrap: break-word;
    white-space: nowrap;
}

.form-error__visible {
    animation: fadeRight 2s forwards;

    @keyframes fadeRight {
        to {
            width: 100%;
            opacity: 1;
        }
    }
}
